.navBar {
  background-color: #191970;

  /* border-bottom: 4px solid #232b2e; */
  display: flex;
  justify-content: flex-end;
}

.navBar ul {
  display: flex;
  list-style-type: none;
  padding: 10px;
  margin: 10px;
}

.navBar ul li {
  margin-right: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.navBar ul li a {
  color: #c0c0c0;
  text-decoration: none;
}

.navBar ul a:hover {
  color: #191970;
  background-color: #c0c0c0;
}
