#headerProfile {
  display: flex;
  margin: 0;
}

#headerPic {
  flex: 1;
}

#headerContact {
  flex: 3;
}

#mainProfile {
  width: 70%;
  margin: 20px auto;
  background-color: #f6f5f3;
}

#mePic {
  border-radius: 50%;
}

#articleProfile {
  padding: 20px;
}
