@import url("card.css");
@import url("cv.css");
@import url("profile.css");
@import url("project.css");
@import url("nav.css");
@import url("footer.css");

/* Nollställ marginaler */
html,
body {
  margin: 0;
  height: 100%;
  font-family: "Fira Sans", "Source Sans Pro", Helvetica, Arial, sans-serif;
  background-color: #bcc6cc;
}

/* Footer */

/* Main container */
